@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 425px;
}

.pokemon__image{
    position: absolute;
    bottom: 52%;
    left: 50%;
    transform: translate(-63%, 0);
    max-height: 17%;
    width: 20%;
}

.pokemon__data {
    position: absolute;
    font-weight: 600;
    color: black;
    bottom: 41%;
    left: 23%;
    font-size: clamp(10px, 5vw, 20px);
}

.pokemon__name {
    text-transform: capitalize;
}

.form {
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.input__search{
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(10px, 5vw, 1rem);
    box-shadow: -1px 2px rgb(105, 105, 105), -3px 4px 0 rgb(51, 51, 51);
}

.team{
    position: absolute;
    bottom: 19%;
    left: 69%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px; 
}

.addPokemon {
    width: 40%;
    padding: 4%;
    border: 2px solid black;
    border-radius: 7px;
    font-size: clamp(10px, 5vw, 1rem);
    font-weight: 600;
    color: #fff;
    background-color:  rgb(33, 177, 14);
    box-shadow: -2px 3px 0 rgb(27, 27, 27);
    outline: none;
    
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}

.button {
    width: 50%;
    padding: 4%;
    border: 2px solid black;
    border-radius: 7px;
    font-size: clamp(10px, 5vw, 1rem);
    font-weight: 600;
    color: #fff;
    background-color:  rgb(59, 59, 59);
    box-shadow: -2px 3px 0 rgb(27, 27, 27);
    outline: none;
}

.button:active {
    box-shadow: inset -4px 4px 0 rgb(27, 27, 27);
    font-size: 0.9rem;
}

.addPokemon:active {
    box-shadow: inset -4px 4px 0 rgb(27, 27, 27);
    font-size: 0.9rem;
}